{% extends "base.html.twig" %}

{% set templateClass = 'tmpl-post' %}

{% block content %}
  <article class="custom-{{theme}} h-entry">
    {% include "includes/paging.html.twig" %}
    <header id="skip-content-target">
        <h1 class="p-name">{{ title }}</h1> 
        <h2 class="published">
          {% set theDate = date %}
          {% include "includes/date-published.html.twig" %}
        </h2>
        {% if modified %}
        <p class="published">
          (Last update:  
          {% set theDate = modified %}
          {% include "includes/date-modified.html.twig" %}
          )
        </p>
        {% endif %}
    </header>
    <div class="e-content">
      {{ content | raw }} 
    </div>
    <hr aria-hidden="true">
    {% include "includes/taglist.html.twig" %}
    <hr aria-hidden="true">
    {% include "includes/paging.html.twig" %}
  </article>
{% endblock %}
