          <time datetime="{{ theDate | date }}" class="dt-modified">
            <span class="date-day">{{ theDate | date("d") }}</span> 
            <span class="date-month">{{ theDate | date("F") }}</span>, 
            <span class="date-year">{{ theDate | date("Y") }}</span>
          </time>
