{# REMOVED from base.njk in order to simplify and remove theming #}
{# Possible theming of css values using metadata.json file
Possible themes:
- earth (current)
- sky (blue like autopedestre)
- olden-days (grey)
Also, can set themes at post level (not page level though) #}

{%- set chosenTheme = metadata.theme %}
{%- if theme and theme != "site" %}
{%- set chosenTheme = theme %}
{%- endif %} 
  
{% if chosenTheme == "sky" %} 
    <style>
        :root {
            --header-bg-color: #007FAD;
            --header-title-color: #fff;
            --header-title-focus-color: #B85F01;
            --header-subtitle-color: #fff;
            --header-navtext-color: #ffffff;
            --main-highlight-color: #009cd7;
            --main-bg-color: #ffffff;
            --main-font-family: "'Lucia Grande', Verdana, Helvetica, Arial, sans-serif, serif";
            --postlist-navtext-color: #000000;
            --footer-bg-color: #eeeeee;
            --footer-text-color: #005c5c;
            --footer-navtext-color: #005c5c;
            --link-color: #000000;
            --link-focus-bg-color: #ffff00;
            --date-bg-color: var(--header-bg-color);
            --date-text-color: var(--header-title-color);        
        }
    </style>
{% endif %}
{% if chosenTheme == "olden" %} 
    <style>
        :root {
            --header-bg-color: #aaa;
            --header-title-color: #000;
            --header-title-focus-color: #B85F01;
            --header-subtitle-color: #000;
            --header-navtext-color: #000;
            --main-highlight-color: #888;
            --main-bg-color: #ffffff;
            --main-font-family: "'Lucia Grande', Verdana, Helvetica, Arial, sans-serif, serif";
            --postlist-navtext-color: var(--header-navtext-color);
            --footer-bg-color: #eeeeee;
            --footer-text-color: var(--header-navtext-color);
            --footer-navtext-color: var(--header-navtext-color);
            --link-color: #000000;
            --link-focus-bg-color: #ffff00;
            --date-bg-color: var(--header-bg-color);
            --date-text-color: var(--header-title-color);        
        }

        header img.u-photo, footer span.power img {
            filter: grayscale(75%);
        }
    </style>
{% endif %}
{% if chosenTheme == "rip" %} 
    <style>
        :root {
            --header-bg-color: #000;
            --header-title-color: #fff;
            --header-title-focus-color: #B85F01;
            --header-subtitle-color: #fff;
            --header-navtext-color: #fff;
            --main-highlight-color: #888;
            --main-bg-color: #aaa;
            --main-font-family: "'Lucia Grande', Verdana, Helvetica, Arial, sans-serif, serif";
            --postlist-navtext-color: var(--header-navtext-color);
            --footer-bg-color: #000;
            --footer-text-color: var(--header-navtext-color);
            --footer-navtext-color: var(--header-navtext-color);
            --link-color: #000000;
            --link-focus-bg-color: #ffff00;
            --date-bg-color: var(--header-bg-color);
            --date-text-color: var(--header-title-color);
            --body-color: #aaa;        
        }

        header img.u-photo, footer span.power img {
            filter: grayscale(100%);
        }
    </style>
{% endif %}

{#
/*Beige*/
:root {
    --header-bg-color: #F2E3A9; /*#009cd7;*/
    --header-title-color: #B85F01; /*#fff;*/
    --header-title-focus-color: #000; /*#B85F01;*/
    --header-subtitle-color: #800020;
    --header-navtext-color: #005c5c;
    --main-highlight-color: #AE0951;
    --main-bg-color: #ffffff;
    --main-font-family: "'Lucia Grande', Verdana, Helvetica, Arial, sans-serif, serif";
    --postlist-navtext-color: var(--header-navtext-color);
    --footer-bg-color: #eeeeee;
    --footer-text-color: var(--header-navtext-color);
    --footer-navtext-color: var(--header-navtext-color);
    --link-color: #000000;
    --link-focus-bg-color: #ffff00;
    --date-bg-color: var(--header-title-color); /*var(--header-bg-color);*/
    --date-text-color: var(--header-bg-color); /*var(--header-title-color);*/
    --body-color: #fff;        
}

        :root {
            --header-bg-color: {{ metadata.css.headerBgColor }}; 
            --header-title-color: {{ metadata.css.headerTitleColor }};
            --header-title-focus-color: {{ metadata.css.headerTitleFocusColor }};
            --header-subtitle-color: {{ metadata.css.headerSubtitleColor }};
            --header-navtext-color: {{ metadata.css.headerNavtextColor }};
            --main-highlight-color: {{ metadata.css.mainHighlightColor }};
            --main-bg-color: {{ metadata.css.mainBgColor }};
            --main-font-family: "{{ metadata.css.mainFontFamily }}";
            --footer-bg-color: {{ metadata.css.footerBgColor }};
            --footer-text-color: {{ metadata.css.footerTextColor }};
            --footer-navtext-color: {{ metadata.css.footerNavtextColor }};
            --link-color: {{ metadata.css.linkColor }};
            --link-focus-bg-color: {{ metadata.css.linkFocusBgColor }};
            --date-bg-color: {{ metadata.css.dateBgColor }};
            --date-text-color: {{ metadata.css.dateTextColor }};
        }
#}